* {
    font-family: "poppins";
}

body {
    background-color: var(--clr-primary-base);
    color: #FFFFFF;
}

.main-header {
    background: var(--clr-nav);
    padding: 10px 20px;
    border-radius: 25px;
}

.logo {
    font-size: 1.5rem;
}

.nav-btn {
    color: var(--clr-nav-btn);
    padding: 10px 20px;
    background-color: var(--clr-nav-btn-bgc);
    border-radius: 20px;
    transition: background-color 0.4s ease;
}

.nav-btn:hover {
    background-color: var(--clr-nav-btn-bgc-hover);
    color: var(--clr-nav-btn-text-hover);
}

canvas {
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.meme-text {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
}

.color-picker {
    cursor: pointer;
    margin: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 11px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.increase-font,
.decrease-font {
    background-color: #3498db;
    color: white;
}

.increase-font:hover,
.decrease-font:hover {
    background-color: #2980b9;
}

.download-btn {
    background-color: #e67e22;
    color: white;
}

.download-btn:hover {
    background-color: #d35400;
}

.line-btn,
.Previous-line,
.next-line {
    background-color: #1dd1a1;
    color: #ffffff;
}

.line-btn:hover,
.Previous-line:hover,
.next-line:hover {
    background-color: #16a085;
}

.back-to-gallery {
    background-color: #e74c3c;
    color: #ffffff;
}

.back-to-gallery:hover {
    background-color: #c0392b;
}