.main-header {
    align-items: center;
}

.main-nav {
    gap: 15px;
}

.search-container {
    padding: 20px;
}

.filter-section {
    justify-content: space-between;
}

.filter-section .search-container {
    width: 100%;
}

.meme-container {
    gap: 90px;
}