.control-panel {
    flex-direction: column;
    background-color: #383B42;
    width: 100%;
    max-width: 600px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 15px #7b7f86;
    margin: 20px;
    padding: 20px;
}

.control-panel>:first-child {
    margin-top: 20px;
}