.search-container {
    background-color: #22252C;
    border-radius: 40px;
    margin: 10px
}

.search-input {
    max-width: 90%;
    border-radius: 40px;
    border: none;
    background-color: #22252C;
    color: white;
}

.search-button {
    padding: 10px;
    background-color: #1dd1a1;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}